<!DOCTYPE html>
<html>
<head>
  <title>Swipe Up Event</title>
  <style>
    #parent {
      width: 500px;
      height: 500px;
      border: 1px solid black;
      overflow: hidden;
      position: relative;
    }
    .swipe{
      border: dashed;
      display: none;
      position: absolute;
      top: 0;left: 0;right: 0;bottom: 0;
      z-index: 1000;
      background-color: yellow;
    }
  </style>
</head>
<body>
  <div id="parent">
    <div id="child">Swipe here!</div>
    <div class="swipe"></div>
  </div>

  <script>
    var startY, endY;
    var parent = document.getElementById('parent');

    parent.addEventListener('touchstart', function(event) {
      startY = event.touches[0].clientY;
    });

    parent.addEventListener('touchend', function(event) {
      endY = event.changedTouches[0].clientY;
      var deltaY = endY - startY;

      if (deltaY < -50) {
        handleSwipeUp();
      }
    });

    function handleSwipeUp() {
     
      console.log('Swipe up detected!');
    }
  </script>
</body>
</html>
