
{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Create-Photos</title>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <link rel="stylesheet" href="{% static 'css/create-photo.css' %}">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Unna&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.3.0/css/all.min.css" integrity="sha512-SzlrxWUlpfuzQ+pcUCosxcglQRNAq/DZjVsC0lE40xsADsfeQoEypE+enwcOiGjk/bSuGGKHEyjSoQ1zVisanQ==" crossorigin="anonymous" referrerpolicy="no-referrer" />
</head>
<style>
    
</style>
<body >
    {% if messages %}
    {% for message in messages %}
    <div id="messages">{{ message }}</div>
    {% endfor %}
    {% endif %}
    <div class="photo-container">
        <form action="" method="POST" enctype="multipart/form-data">
            {% csrf_token %}
            <div class="header">
                <div class="title">Add Photos</div>
                <a href="{% url 'create_biography' deceased.id %}" class="btn-x" ><i class="fa-solid fa-xmark"></i></a>
            </div>
            <div class="photo-wrapper">
                <div class="container-a">
                    <h1 class="meaning">{{deceased.first_name}}'s Photo Album</h1>

                    {% if formset.non_form_errors %}
                    <div class="alert alert-danger">
                        {% for error in formset.non_form_errors %}
                            <h1>{{ error }}</h1>
                        {% endfor %}
                    </div>
                    {% endif %}
                
                    {% for form in formset %}
                    {% if form.errors %}
                        <div class="alert alert-danger">
                            {% for error in form.errors %}
                                {{ error }}
                                <h1>{{form.errors}}</h1>
                            {% endfor %}
                        </div>
                    {% endif %}
                    <!-- display the form fields here -->
                    {% endfor %}
                    <div id="book-formset">
                        <div class="formset-container">
                            {{ formset.management_form }}
                            {% for form in formset %}
                            <div class="box-a formset-row">
                                <div class="card1"> 
                                    {{form.id.as_hidden}}
                                    {{ form.user.as_hidden }}
                                    {{ form.deceased.as_hidden }}
                                    {{form.image}}
                                    {{form.date}}
                                    {{form.title}}
                                  
                                </div>
                                
                                <div class="card2 delete-formset-row" data-formset-id="{{ form.instance.id }}" ><i class="fa-solid fa-trash"></i></div>
                            </div>
                            {% endfor %}
                        </div>
                        <div class="btn-fact add-formset-row">
                            <div class="button">
                                <div><i class="fa-regular fa-square-plus"></i></div>
                               <div> Add a Fact</div>
                            </div>
                        </div>
                    </div>



                 
                    
                </div>
            </div>
    
            <div class="footer" >
                <button>Save</button>
            </div>
        </form>
    </div>
   
</body>
<script src="{% static 'javascript/create-photo.js' %}"></script>
</html>