{% extends 'FuneralApp/index.html' %}
{% load static %}
{% block head %}
<link rel="stylesheet" href="{% static 'css/home.css' %}">
{% endblock %}


{% block content %}

<div class="body-wrapper">
    <div class="hero-tab">
        <div class="card1">
            <h2 class="chakra-heading">Create lasting memories for your loved ones </h2>
            <p class="chakra-text">Create beautiful online memorials and honor the memory of your loved ones with EXXiiT. Collaborate with family, friends and fans  to easily create emotional and personalized memorials in just minutes. keep their memories alive and share it with those who matter most.</p>
            <div class="chakra-stack">
                <a class="chakra-link" href="{% url 'memorials' %}">Create a Memorial</a>

            </div>

        </div>
        <video class="card2" loop  muted autoplay src="https://static.after.io/homepage/after_demo_video.mp4"></video>
    </div>
    <div class="social-tab">
        <div class="card1">
            <h2 class="chakra-heading css-1g1fy36">Honoring the memories of our loved ones is a precious and meaningful way to keep them close to our hearts for a lifetime.</h2>
            <p class="chakra-text css-1fv7xpl">Create a beautiful memorial for your loved ones by collaborating with family, fanatics,  and close friends. Preserve and share the significant moments and experiences of their unique life story with the people who matter most to you.
</p>
        </div>
        <div class="card2">
            <img src="https://after.io/_next/image?url=%2F_next%2Fstatic%2Fmedia%2Fafter_previews_with_illustrations.5f519f8b.jpeg&w=1200&q=75" alt="">
        </div>
    </div>

   <!--<<div class="after-glow">
        <div class="card1">
            <p class="chakra-heading">Preserving the radiance of our loved ones' memories is an important way to keep them close to us, even after they have passed on. By creating a memorial for them on a platform like EXXiiT, we can ensure that their stories, achievements, and milestones are never forgotten. This can be a beautiful way to celebrate their life, and to share their legacy with others who knew and loved them. We provide the tools for creating private and public online memorials, we can gather photos, videos, and other meaningful moments to create a lasting tribute to the people we hold dear.</p>
        </div>
        <div class="card2">
            <div class="items">
                <h3 class="chakra-heading">TIMELINE & STORIES </h3>
                <p class="chakra-text">Revamp the traditional obituary with a stunning timeline that portrays the complete life story of your loved one. With the freedom to add photos, videos, audio, stories, and other vibrant details, you can create a personalized timeline that truly reflects the unique individual they were.</p>
            </div>
            <div class="items">
                <h3 class="chakra-heading css-c3n97">ACCESSIBILITY & USER FRIENDLY</h3>
                <p class="chakra-text css-0">Easily collaborate with fans, friends and family to create a dynamic timeline that truly captures the essence of your loved one's life. With EXXiiT, the more people you invite to contribute, the richer the timeline becomes. The platform is user-friendly and intuitive, making it accessible even for older family members who may not be tech-savvy. Everyone can contribute at their own pace, adding memories, photos, videos, and more whenever they want.</p>
            </div>
            <div class="items">
                <h3 class="chakra-heading">SECURITY ASSURED </h3>
                <p class="chakra-text">Your loved one's life is special and deserves to be celebrated in a private and secure space. With Exxit, you can create a free, private social network where you can invite close family and friends to collaborate and share their memories, stories, photos, and more. It's a safe place to heal and connect with others who were touched by your loved one's life. You can choose to share your work publicly or only with your close circle of family and friends, ensuring complete privacy and security.</p>
            </div>
        </div>
    </div>-->

    <div class="slider-wrapper">
        <div class="slide-container">
            <div class="mySlides">
                <div class="name-card">
                    <h1 class="name">TIMELINE & STORIES</h1>
                   <!-- <p class="city">Austin, Texas</p>-->
                </div>
                <p class="text">Revamp the traditional obituary with a stunning timeline that portrays the complete life story of your loved one. With the freedom to add photos, videos, audio, stories, and other vibrant details, you can create a personalized timeline that truly reflects the unique individual they were. </p>

            </div>
            <div class="mySlides" style="display: none;">
                <div class="name-card">
                    <h1 class="name">ACCESSIBILITY & USER FRIENDLY</h1>
                  <!-- <p class="city">Austin, Texas</p>-->
                </div>
                <p class="text">
                    Easily collaborate with fans, friends and family to create a dynamic timeline that truly captures the essence of your loved one's life. With EXXiiT, the more people you invite to contribute, the richer the timeline becomes. The platform is user-friendly and intuitive, making it accessible even for older family members who may not be tech-savvy. Everyone can contribute at their own pace, adding memories, photos, videos, and more whenever they want.
                </p>

            </div>
            <div class="mySlides" style="display: none;">
                <div class="name-card">
                    <p class="name">SECURITY ASSURED</p>
                     <!-- <p class="city">Austin, Texas</p>-->
                </div>
                <p class="text">
                    Your loved one's life is special and deserves to be celebrated in a private and secure space. With Exxit, you can create a free, private social network where you can invite close family and friends to collaborate and share their memories, stories, photos, and more. It's a safe place to heal and connect with others who were touched by your loved one's life. You can choose to share your work publicly or only with your close circle of family and friends, ensuring complete privacy and security.
                </p>

            </div>
           <!-- <div class="mySlides" style="display: none;">
                <p class="text">
                    “I was afraid my children will grow up not knowing my mother. photos don't do her justice. they don't tell the full story. Her personality. this is something that I liked And so did your mother and so did your grandmother”
                </p>
                <div class="name-card">
                    <p class="name">Ifiok</p>
                    <p class="city">Austin, Texas</p>
                </div>
            </div>-->

            <div class="wrapper">
                <div class="icon-left" onclick="plusDivs(-1)">&#10094;</div>
                <div class="icon-right" onclick="plusDivs(1)">&#10095;</div>
            </div>
            <div class="dots-wrapper">
                <div class="dots" onclick="currentDiv(1)"></div>
                <div class="dots" onclick="currentDiv(2)"></div>
                <div class="dots" onclick="currentDiv(3)"></div>

           </div>
        </div>
    </div>

    <div class="legacy-container">
        <div class="card1">
            <div class="chakra-heading css-qqbyd3">We believe that everyone's life story is unique and deserves to be celebrated and preserved for generations to come. Our platform is designed to help families and friends collaborate and create beautiful online memorials that capture the essence of their loved ones' lives. We understand the importance of preserving memories and ensuring that the legacies of those who have passed continue to inspire and influence future generations.</div>
            <p class="chakra-text">We are committed to providing a private and secure space for families and friends to share memories and stories of their loved ones. Our platform is easy to use and accessible to all, with features that enable the creation of stunning timelines that tell the whole story. From photos and videos to audio recordings and written stories, our platform allows users to create a vibrant and comprehensive tribute to their loved ones.</p>
            <p class="chakra-text">At Exxit, we also believe in the power of collaboration, and our platform is designed to encourage family members and friends to contribute to the timeline at their own pace. With a growing community of users, our platform is a place where fans, families and friends can come together, support each other, and celebrate the lives of those who have passed.</p>
            <p class="chakra-text">In summary, we are passionate about preserving the memories and legacies of those who have come before us. With our easy-to-use platform, we provide a private and secure space for families and friends to collaborate, create stunning timelines, and share memories and stories of their loved ones. We believe that by doing so, we can continue to be inspired by the legacies of those who have passed and ensure that their memories live on for generations to come.</p>
        </div>
        <div class="card2">
            <img src="https://after.io/_next/image?url=%2F_next%2Fstatic%2Fmedia%2Fafter_old_photos_illustration.ed00fe26.jpg&w=1920&q=75" alt="">
        </div>
    </div>


</div>
{% endblock %}
{% block script %}
<script src="{% static 'javascript/home.js' %}"></script>
{% endblock %}