{% extends 'FuneralApp/index.html' %}

{% load static %}


{% block head %}
<link rel="stylesheet" href="{% static 'css/login.css' %}">
{% endblock %}


{% block content %}
<div class="body-wrapper">
   
    <div class="container">
       
        <div class="header">
            <div class="logo">Futurism</div>
            <h1>Welcome</h1>
            <p class="text">Log in to access After Memorials</p>
        </div>
   
        <form action="" class="body" method="POST">
            {% csrf_token %}
            {% if form.non_field_errors %}
             <p class="error">{{form.non_field_errors}}</p>
        
           {% endif %}
            <div class="input-card">
               {{form.login}}
                <div class="tool-tip" id="email">Email address</div>
            </div>
            <div class="input-card">
               {{form.password}}
               <div class="eye" onclick="show()"> <i id="eye" class="fa-regular fa-eye"></i></div>
                <div class="tool-tip2" id="password">Password</div>
            </div>
    
            <div class="continue-card">
               <a href="" class="forgot">
                <p>Forgot password?</p>
               </a>
               <button type="submit">Continue</button>
               <div class="account">
                Don't have an account? <a href="{% url 'signup' %}">Sign up</a>
               </div>
            </div>
    
           
        </form>
    
    
    </div>
</div>

<div id="overlay" onclick="Modal()"></div>
{% endblock %}
{% block script %}
<script src="{% static 'javascript/login.js' %}"></script>
{% endblock %}