{% extends "account/base.html" %}
{% load static %}
{% load i18n %}
{% load account socialaccount %}

{% block head_title %}{% trans "Sign In" %}{% endblock %}
{% block head %}
  <link rel="stylesheet" href="{% static 'css/login.css' %}">
{% endblock %}

{% block content %}



<div class="body-wrapper">

  <div class="container">

      <div class="header">
          <div class="logo">
                <img style="height: 70px;width:auto" src = '{% static 'images/EXXiiT _ Foreverioh logo.png' %}'>
          </div>
          <h1>Welcome</h1>
          <p class="text">Log in to access EXIIT</p>
      </div>

      <form action="{% url 'account_login' %}" class="body" method="POST">
          {% csrf_token %}
          {% if form.non_field_errors %}
           <p class="error">{{form.non_field_errors}}</p>

         {% endif %}
          <div class="input-card">
            <input type="email" name="login" autocomplete="email" id="my_email" onfocus="Swap_text()" required>
              <div class="tool-tip" id="email">Email address</div>
          </div>
          <div class="input-card">
             <input type="password" name="password" id="pass_word" onfocus="Swap_text2()" autocomplete="current-password" required>
             <div class="eye" onclick="show()"> <i id="eye" class="fa-regular fa-eye"></i></div>
              <div class="tool-tip2" id="password">Password</div>
          </div>
          {% if redirect_field_value %}
              <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />
          {% endif %}

          <div class="continue-card">
             <a class="button secondaryAction forgot" href="{% url 'account_reset_password' %}">
             <p> {% trans "Forgot Password?" %}</p>
            </a>
             <button type="submit">Continue</button>
             <div class="account">
              Don't have an account? <a href="{{ signup_url }}">Sign up</a>
             </div>
          </div>
          <div class="or-card">
            <div class="border"></div>
            <div class="text">OR</div>
          </div>

      </form>
        <div class="auth-card">
          {% get_providers as socialaccount_providers %}

          {% if socialaccount_providers %}
          <div class="card">
            {% include "socialaccount/snippets/provider_list.html" with process="login" %}
          </div>
          {% endif %}

        </div>
  </div>
</div>

<div id="overlay" onclick="Modal()"></div>



{% endblock %}
{% block script %}
<script src="{% static 'javascript/login.js' %}"></script>
{% endblock %}